@use './variables.scss' as *;

// outlining style
@mixin v-outlined-style($outline-color, $text-color: null, ) {

    .v-field__outline__notch::after,
    .v-field__outline__notch::before,
    .v-field__outline__end,
    .v-field__outline__start {
        border-color: $outline-color;
    }

    // Normal Input
    textarea,
    input {
        padding: 10px 8px;
        min-height: auto;
    }

    // Normal Label
    label {
        font-weight: $font-500;
        font-size: $font-16;
    }

    // Up Label
    .v-field__outline__notch {
        label {
            font-weight: $font-500;
            font-size: $font-12;
        }
    }

    // label and messages
    @if $text-color {
        .v-field__label {
            color: $text-color;
        }

        .v-messages__message {
            color: $text-color;
            font-weight: $font-400;
        }
    }
}

@mixin v-input-details-alignment() {
    .v-input__details {
        text-align: start;
    }
}

// .custom-input
@mixin v-outlined-style-main() {
    .custom-input {

        // Default state (unfocused, no error)
        :deep(*) {
            @include v-outlined-style($primary-color);
            @include v-input-details-alignment();
        }

        // Focused state (no error)
        &.v-input--focused {
            :deep(*) {
                @include v-outlined-style($secondary-color);
            }
        }

        // Error state (unfocused)
        &.v-input--error {
            :deep(*) {
                @include v-outlined-style($error-color, $error-color);
            }
        }

        // Error state when focused
        &.v-input--error.v-input--is-focused {
            :deep(*) {
                @include v-outlined-style($error-color, $error-color);
            }
        }
    }
}